@using CryptoCurrency.Controllers;
@{ 
    Layout = null;
    ViewData["Title"] = "Account";
}
<! doctype html>
<html>
<head>
    <title>
        Hello Infopulse team!
    </title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script>
       function squareRoot() 
       {
           var a = parseInt(document.getElementById('fin').value,10);
           var b = parseInt(document.getElementById('sin').value,10);
           var c = parseInt(document.getElementById('thin').value,10);
           let discriminant = b * b - 4 * a * c;
            // condition for real and different roots
            if (discriminant > 0) {
                root1 = (-b + Math.sqrt(discriminant)) / (2 * a);
                root2 = (-b - Math.sqrt(discriminant)) / (2 * a);

                // result
                console.log(`The roots of quadratic equation are ${root1} and ${root2}`);
            }

            // condition for real and equal roots
            else if (discriminant == 0) {
                root1 = root2 = -b / (2 * a);

                // result
                console.log(`The roots of quadratic equation are ${root1} and ${root2}`);
            }

            // if roots are not real
            else {
                let realPart = (-b / (2 * a)).toFixed(2);
                let imagPart = (Math.sqrt(-discriminant) / (2 * a)).toFixed(2);

                // result
                console.log(
                    `The roots of quadratic equation are ${realPart} + ${imagPart}i and ${realPart} - ${imagPart}i`
                );
            }
       }
       function strLength() 
       {
           var a = document.getElementById('foin').value;
           alert(a.length);
       }
    </script>
</head>
<body>
    <div id="currencyList">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Market Cap</th>
                </tr>
            </thead>
            <tbody>
               @for(int i = 0; i < ViewBag.Currencies.Count; i++)
               {
                    var currency = ViewBag.Currencies[i];
                    <tr >
                    <td>@currency.WorldRank</td>
                    <td>
                        <a href="@currency.LinkToBio">@currency.Name</a>
                    </td>
                    <td>@currency.Price</td>
                    <td>@currency.MarketCap</td>
                    </tr>
               }
                    
            </tbody>

        </table>
        <p>Useful Links</p>
        <ul>
    <li>
        <div>
             <img src="images/CoinMarketCap.png" height="50" width="50"/>
             <a href="https://coinmarketcap.com/">CoinMarketCap</a>
        </div>
    </li>
    <li>
        <div>
             <img src="images/TradingView.png" height="50" width="50"/>
             <a href="https://ru.tradingview.com/">TradingView</a>
        </div>
    </li>
</ul>

    <label for="fin">First coef:</label><br>
    <input type="text" id="fin" name="fin" value=""><br>
    <label for="sin">Second coef:</label><br>
    <input type="text" id="sin" name="sin" value=""><br><br>
    <label for="thin">Third coef:</label><br>
    <input type="text" id="thin" name="thin" value=""><br><br>
    <button onclick="squareRoot()">Solve equation</button>
    <label for="foin">Enter string:</label><br>
    <input type="text" id="foin" name="foin" value=""><br><br>
    <button onclick="strLength()">Count length</button>


    </div>

    </body>
</html>